<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>C$50 Scraper - {{ title }}</title>
    {% else %}
        <title>C$50 Scraper</title>
    {% endif %}
</head>
<body>
    <h1>Home Page 3000</h1>
    {% for item in data %}
        <p>Market Time: {{ item.market_time }}</p>
        <p>Current Market Value: {{ item.current_market_value }}</p>
        <p>Today's Gain: {{ item.todays_gain }}</p>
        <p>Total Gain: {{ item.total_gain }}</p>
        <br>
    {% endfor %}
</body>
</html>